lib
dist
accounts
external
.vite
logs
/plugins/**/node_modules
/plugins/**/lib
/plugins/**/tsconfig.tsbuildinfo
tsconfig.temp.json

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
*/**tsconfig.tsbuildinfo

.eslintcache
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

tsconfig.tsbuildinfo
lib/*
node_modules/*
yarn.lock
